@model IEnumerable<PetShop.Models.ThuCung>

@{
    ViewData["Title"] = "Thú cưng";
}

<div class="card">
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="card-body">
        <p><a asp-action="Create" class="btn btn-success"><i class="fa-light fa-plus"></i> Thêm mới</a></p>
        <table class="table table-sm table-hover table-striped table-bordered mb-0">
            <thead>
                <tr>
                    <th width="5%">#</th>
                    <th>@Html.DisplayNameFor(model => model.HinhAnh)</th>
                    <th>@Html.DisplayNameFor(model => model.LoaiThuCung.TenLoaiTC)</th>
                    <th>@Html.DisplayNameFor(model => model.TenThuCung)</th>
                    <th>@Html.DisplayNameFor(model => model.NuocXuatXu.TenNuocXuatXu)</th>
                    <th>@Html.DisplayNameFor(model => model.SoLuong)</th>
                    <th>@Html.DisplayNameFor(model => model.DonGia)</th>
                    <th width="5%">Sửa</th>
                    <th width="5%">Xóa</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var stt = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@stt</td>
                        <td class="text-center"><img src="~/uploads/@item.HinhAnh" width="60" class="img-thumbnail" /></td>
                        <th>@Html.DisplayNameFor(model => model.LoaiThuCung.TenLoaiTC)</th>
                        <th>@Html.DisplayNameFor(model => model.TenThuCung)</th>
                        <th>@Html.DisplayNameFor(model => model.NuocXuatXu.TenNuocXuatXu)</th>
                        <td class="text-end">@Html.DisplayFor(modelItem => item.SoLuong)</td>
                        <td class="text-end">@Html.DisplayFor(modelItem => item.DonGia)</td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.ID"><i class="fa-light fa-pen-to-square"></i></a>
                        </td>
                        <td class="text-center">
                            <a asp-action="Delete" asp-route-id="@item.ID"><i class="fa-light fa-trash-can text-danger"></i></a>
                        </td>
                    </tr>
                    stt++;
                }
            </tbody>
        </table>
    </div>
</div>
